body {
	background-color: black;
   color: #DDDDDD;
}

a:hover {
   color: #4DAFDA;
}

a:visited {
   color: #1986b5;
}

a:link {
   color: #73BBDA;
}

div#page {
   padding: 0em 2em 1em 2em;
   max-width: 1400px;   
   min-width: 940px;
}

div#header{
}

div#wrapper{
   margin-bottom: 3em;
}

div#footer{
   display: none;   
   background-color: #383636;
   padding: 1em;
   clear: both;
   border-radius: 5px;
}

#container {
   float: left;
   width: 100%;
   margin-right: -320px;
   margin-bottom: 2em;
}  

div#sidebar {
   width: 290px;
   float: right;
}

div#content {
   margin-right: 320px;
}


/* content items */
div#main{
   background-color: #383636;
   padding: 1em 1em;
   border-radius: 5px;
   margin-top: 1em;
}

div#maintext {
   background-color: #DDDDDD;
   color: black;
   padding: 0.25em 1em .5em 1em;
   border-radius: 5px;
   line-height: 150%;
}

img#mainimg {
   display: block;   
   background-color: black;
   padding: 30px;
   margin-bottom: 1em;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
}

div#comments {
   background-color: #383636;
   padding: 1em 1em;
   border-radius: 5px;
   margin-top: 2em;
   font-size: 75%;

}

div#disqus_thread {
   background-color: #DDDDDD;
   color: black;
   padding: 0.25em 1em .5em 1em;
   border-radius: 5px;
}  

/* sidebar items */

form#paypalform {
   padding: 1em;
   background-color: #383636;
   margin-top: 2em;
   border-radius: 5px;
}

form#paypalform input[type="image"] {
   display: block;
   padding: 10px;
   margin-left: auto;
   margin-right: auto;
}

div#googledocsform {
   padding:  1em 0em 1em 1em;
   background-color: #383636;
   border-radius: 5px;
   margin-top: 2em;
}

div#googledocsform > iframe {
   overflow: hidden;
   border-radius: 5px;      
   border-width: 5px; 
   border-style: solid;
   border-color: #FFFFFF;  
   margin: 0;   
   width: 246px;
   height: 246px; 
}

div.twtr-doc {
   padding: 0em 1em 0em 1em;
}

div.twtr-widget {
   margin-top: 1.3em;
   padding-left: 0em;
   padding-right: 0em
}

