   body {
	background-color: black;
   color: #DDDDDD;
}

a:hover {
   color: #4DAFDA;
}

a:visited {
   color: #1986b5;
}

a:link {
   color: #73BBDA;
}

div#content {
   padding: 2em 2em;
   overflow: auto;   
   max-width: 1400px;   
   min-width: 940px;
}

div#sidebar {
   width: 290px;
   float:right;
}

div#bodyblock {
   overflow: auto;
   max-width: 1000px;
   min-width: 700px;
   margin-right: 1em;
}

/* body items */
div#mainblock {
   background-color: #383636;
   padding: 1em 1em;   
   margin-top: 1em;
   border-radius: 5px;
}

div#maintext {
   background-color: #DDDDDD;
   color: black;
   padding: 0.25em 1em .5em 1em;
   border-radius: 5px;
}

img#mainimg {
   display: block;   
   background-color: black;
   padding: 30px;
   margin-bottom: 1em;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
}

div#commentblock {
   background-color: #383636;
   padding: 1em 1em;
   border-radius: 5px;
   margin-top: 1em;
}

/* sidebar items */

form#paypalform input[type="image"] {
   display: block;
   padding: 10px;
   margin-left: auto;
   margin-right: auto;
}

div.twtr-doc {
   padding: 0em 1em;
}

div.twtr-widget {
   margin-top: 1.3em;
   padding-left: 1em;
   padding-right: 1em

}

